body{
    background: lightblue;
}

.MainContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    height: 400px;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
}

.container{
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 70px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

button[id='increment-btn']{
    padding: 15px;
    color: white;
    background-color: darkred;
    border-style: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

button[id='decrement-btn']{
    padding: 15px;
    color: white;
    background-color: darkblue;
    border-style: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

button[id='save-btn']{
    padding: 15px;
    color: white;
    background-color: green;
    border-style: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    width: 200px;
}